# 图片生成服务商配置
# 复制此文件为 image_providers.yaml 并填写你的配置

# 当前激活的服务商（填写下方 providers 中的名称）
active_provider: comfyui
providers:
  comfyui:
    api_key:111
    default_height: 1024
    default_width: 768
    high_concurrency: false
    model: ''
    prompt_adapter_mode: template
    seed_node_id: '44'
    server_address: 192.168.2.40:8188
    short_prompt: false
    text_node_id: '59'
    type: comfyui
    width_node_id: '41'
    workflow_file: image_z.json
  gemini:
    api_key: ********
    high_concurrency: false
    model: gemini-3-pro-image-preview
    short_prompt: false
    type: google_genai
